<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>티켓 Mart</title>
    <link href="../stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .concert-price {
            color: dodgerblue;
        }
        .artist-name {
            font-weight: bold;
            font-size: 17px;
        }
        .concert-description {
            padding: 10px; 
            border: 1px solid whitesmoke;
            width: 300px;
            height: inherit;
            text-align: left;
            color: gray;
        }
        footer {
            position: relative;
            top: 140px;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle ="collapse" data-target= "#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><font style="font-weight: bold; font-size: 30px;   color: black">Ticket MarT</font></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/ticketlist">티켓목록<span class="sr-only"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if(!user) { %>
            <li><a href="/auth/login">로그인</a></li>
            <li><a href="/auth/register">회원가입</a></li>
        <% } else { %>
            <li><a><font style="font-weight: bold; font-size: 20px;">&nbsp;<%= user.displayName %>님</font></a></li>
            <li><a href="/mypage">마이페이지</a></li>
            <li><a href="/auth/logout">로그아웃</a></li>
        <% } %>
      </ul>

    </div>
  </div>

</nav>

<br><br>
<div class="container">
  <h1 style="text-align: center;">Ticket List</h1>
  <hr>
  
  </div>
  <br><br>
  <div class="container">
    <div class="row">
        
        <div class="col-sm-3 ">
            <a href="/ticketcontent/<%= ticketId=1 %>">
                <img src="../images/melomance_list.jpg" width="300px" height="300px">
            </a>
            <div class="concert-description">
                <span class="artist-name">멜로망스</span>
                <br/>
                <span class="concert-name">DAN CONCERT</span>
                <br/>
                <span class="concert-location">강릉시 경강로 2046번길 5</span>
                <br/>
                <br/>
                <span>최저가격:</span>
                <span class="concert-price">9,900원</span>
            </div>
        </div>
    
    
        <div class="col-sm-3 col-sm-offset-1">
            <a href="/ticketcontent/<%= ticketId=2 %>">
                <img src="../images/IU_list.jpg" width="300px" height="300px">
            </a>
            <div class="concert-description">
                <span class="artist-name">아이유</span>
                <br/>
                <span class="concert-name">이지금 CONCERT</span>
                <br/>
                <span class="concert-location">부산 사직실내체육관</span>
                <br/>
                <br/>
                <span>최저가격:</span>
                <span class="concert-price">45,000원</span>
            </div>
        </div>
    
    
        <div class="col-sm-3 col-sm-offset-1">
            <a href="/ticketcontent/<%= ticketId=3 %>">
                <img src="../images/parkhyosin_list.jpg" width="300px" height="300px">
            </a>
            <div class="concert-description">
                <span class="artist-name">박효신</span>
                <br/>
                <span class="concert-name">So Happy Together Concert</span>
                <br/>
                <span class="concert-location">Olympic Park</span>
                <br/>
                <br/>
                <span>최저가격:</span>
                <span class="concert-price">89,000원</span>
            </div>
        </div>
        
    </div>
  </div>
  <br><br><br><br><br><br>
  <footer style="background-color: rgb(236, 236, 236); color: dark;">
      <div class="container">
          <br>
          
          <div class="row">
              <div class="col-sm-2">
                  <h5>Copyright &copy; 2018</h5>
              </div>
              <div class="col-sm-4">
                  <h5>Introduce</h5>
                  <p>현장 암표를 예방한 티켓팅하는 페이지입니다. <br>
                  안전한 티켓문화 권장합니다.</p>
              </div>
          </div>
  
          <br>
      </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="../stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script>
    $('.carousel').carousel({
      interval: 2000
    })
  </script>
</body>
</html>
